<form  id="cse-search-box" action="{% url 'django_google_cse' %}"  method='GET'>
    <div class="fieldcontainer">
        <input onclick="updateState.focus();" onblur="updateState.blur();" type="text" name="q" id="searchfield" class="search-query" placeholder="Buscar...">
    </div>
</form>

<script type="text/javascript">
    var searchfield = document.getElementById('searchfield');
    var updateState = {
        focus: function(){
            if (searchfield.value == 'Buscar...'){
                searchfield.value = '';
            }
        },
        blur: function(){
            if (searchfield.value == ''){
                searchfield.value = 'Buscar...';
            }    
        }
    }
    try{
        if (parseQueryFromUrl() != ''){
            window.onload=function(){
                searchfield.value = '' + parseQueryFromUrl();
            }
        }
    }catch (err){

    }
</script>