{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}
{% load staticfiles %}

{% block extra_js %}
<script>
  $('.menu a.menu4').addClass('activate');
</script>
  
{% endblock extra_js %}

{% block contenido %}
<div class="quienesfondo">
  <img src="/media/{{foto_noticia.foto}}" alt="">
  <div class="row"><h1 class="text-center texto wow bounceInRight" data-wow-duration="2s">{{foto_noticia.titulo}}</h1></div>
</div>
<!-- inicia el buscador y redes sociales -->
<div class="cta-bar">
  <div class="row">
      <div class="large-8 medium-8 columns">
        {% include "busquedaSitio.html" %}
      </div>
      <div class="large-4 medium-4 columns">
          <section class="social-icons">
              <ul>
                 <li class="youtube"><a href="https://www.youtube.com/user/simasnicaragua" target="_blank"></a></li>
                  <li class="twitter"><a href="https://twitter.com/simasnicaragua" target="_blank"></a></li>
                  <li class="facebook"><a href="https://www.facebook.com/simas.org.ni" target="_blank"></a></li>
                  <li class="google"><a href="https://plus.google.com/u/0/117302920867222236108/posts" target="_blank"></a></li>
              </ul>
          </section>
      </div>
  </div>
</div>
<!-- finaliza el buscador y la red social -->
<div class="row">
{% for obj in object_list %}
<div class="text-center">
  <div class="list-post-news">
    {% if obj.foto %}
      {% thumbnail obj.foto "750x400" crop="10%" as img %}
          <div class="img-news-list"><a href="{% url 'detalle-noticia' obj.id obj.uri %}"><img class="th" src="/media/{{img}}"></a></div>
      {% endthumbnail %}          
    {%else%}
    <div class="img-news-list"><a href="{% url 'detalle-noticia' obj.id obj.uri %}">
    <img src="http://placehold.it/750x400"></a></div>
    {% endif %}
    <span class="date-publish">Publicado:{{obj.fecha|date:"j  F, Y"}}</span>
    <h2 class="tlist-news"><a href="{% url 'detalle-noticia' obj.id obj.uri %}">{{obj.noticia}}</a></h2>
    <div class="news-post-list">{{ obj.texto|striptags|safe|truncatewords:26 }} <a href="{% url 'detalle-noticia' obj.id obj.uri %}">Ver más</a></div>
  </div>
</div>
{% endfor %}
</div>

<div class="pagination-centered">
  {% if is_paginated %}
      {% load paginador %}
      {% render_paginator 2 3 %}
    {% endif %}
  </div>
<hr>
{% include "footer.html" %}
{% endblock contenido %}
