{% extends "base.html" %}
{% load thumbnail %}
{% load url from future %}
{% load staticfiles %}

{% block extra_js %}
  <script>
  $('.menu a.menu5').addClass('activate');
  $(document).ready(function(){
    $('#dropDown').change(function(){
      $("#botoncito").attr('disabled',false);
        });
  });
</script>
{% endblock extra_js %}

{% block contenido %}
<div class="quienesfondo">
  <img src="/media/{{foto_blog.foto}}" alt="">
  <div class="row"><h1 class="text-center texto wow bounceInRight" data-wow-duration="2s">{{foto_blog.titulo}}</h1></div>
</div>
<!-- inicia el buscador y redes sociales -->
<div class="cta-bar">
  <div class="row">

      <div class="large-8 medium-8 columns">
          <section class="search" role="search">
            <form id="cref" action="{% url 'googlesearch-results' %}">
              <input type="hidden" name="cref" value="http://simas.guegue.info/busqueda/cref-cse.xml/" />
              <input type="hidden" name="cof" value="FORID:9" />
              <input id="search-input" type="text" role="search" value="Buscar..." name="q" id="q" onblur="if (this.value == '') { this.value = 'Buscar...';}" onfocus="if (this.value == 'Buscar...'){this.value = '';}" placeholder="Buscar...">
                <label for="search-input" class="ui-search"></label>
            </form>
        </section>
          <!-- <section class="search" role="search">
            <form id="search-form" action="/blogs/filtrar/" method="POST">{%csrf_token%}
              {{form_tag.tag}}
              <button id="botoncito"  class="botonfiltro" disabled= "true" type="submit" name="boton" value="Buscar">Buscar</button>
              <label for="search-input" class="ui-search"></label>
            </form>
          </section>-->
      </div> 
      <div class="large-4 medium-4 columns">
          <section class="social-icons">
              <ul>
                  <li class="youtube"><a href="https://www.youtube.com/user/simasnicaragua" target="_blank"></a></li>
                  <li class="twitter"><a href="https://twitter.com/simasnicaragua" target="_blank"></a></li>
                  <li class="facebook"><a href="https://www.facebook.com/simas.org.ni" target="_blank"></a></li>
                  <li class="google"><a href="https://plus.google.com/u/0/117302920867222236108/posts" target="_blank"></a></li>
              </ul>
          </section>
      </div>
  </div>
</div>


 
<div id="dropDiv" class="camino">

 <div class="row">
 <form id="search-form" action="/blogs/filtrar/" method="POST">{%csrf_token%}
    <div class="medium-3 columns">
        
        <select id="dropDown" name="tag">
         <option value="">-----------</option>
        {% for tag in tags %}
          <option value="{{tag.id}}">{{tag.catblog}}</option>
        {% endfor %}
        </select>

     </div>
              <div class="medium-9 columns boton">
                <button id="botoncito"  class="botonfiltro" disabled= "true" type="submit" name="boton" value="Buscar">Buscar</button>
              </div>
              
            
            </form>
   
    
  </div>
</div>

       
<hr>

  

       

<!-- finaliza el buscador y la red social -->
<div class="row">
{% for obj in object_list %}
<div class="text-center">
  <div class="list-post-news">
    {% if obj.foto %}
      {% thumbnail obj.foto "750x400" crop="10%" as img %}
          <div class="img-news-list"><a href="{% url 'detalle-blog' obj.id obj.uri %}"><img class="th" src="/media/{{img}}"></a></div>
      {% endthumbnail %}          
    {%else%}
    <div class="img-news-list"><a href="{% url 'detalle-detalle' obj.id obj.uri %}">
    <img src="http://placehold.it/750x400"></a></div>
    {% endif %}
    <span class="date-publish">Publicado:{{obj.fecha|date:"j  F, Y"}} &nbsp; // &nbsp; Categoria del blog:{{obj.idcatblog}}</span>
    <h2 class="tlist-news"><a href="{% url 'detalle-blog' obj.id obj.uri %}">{{obj.blog}}</a></h2>
    <div class="news-post-list">{{ obj.resumen|striptags|safe|truncatewords:26 }}</div>
  </div>
</div>
{% empty%}

  <p>No existen blogs con esa categoria</p>
{% endfor %}
</div>

<div class="pagination-centered">
  {% if is_paginated %}
      {% load paginador %}
      {% render_paginator 2 3 %}
    {% endif %}
  </div>
<hr>
{% include "footer.html" %}
{% endblock contenido %}
