{% extends "base.html" %}

{% load thumbnail %}
{% load url from future %}
{% load staticfiles %}

{% block contenido %}

<div class="quienesfondo">
    <img src="/media/{{foto_blog.foto}}" alt="">
  <div class="row"><h1 class="text-center texto wow bounceInRight" data-wow-duration="2s">{{foto_blog.titulo}}</h1></div>
</div>

<div class="camino">
    <div class="row">
            <a href="/blogs/"><h3>REGRESAR A TODAS LOS BLOGS</h3></a>
    </div>
</div>

<div class="row">

    <div class="newsimas">
        <p>{{nota.blog}}</p>
    </div>
    <div class="lineas">
        <div class="medium-6 columns">
            <p class="fecha_noticia">{{nota.fecha|date:"m.d.y"}} / <strong>{{nota.idautor}} / {{nota.idcatblog}}</strong></p>
        </div>
        <div class="medium-6 columns">
            <div class="right">
            <p class="shared_social">
                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=200691280061950" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe> <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </p>
            </div>
        </div>
    </div>
</div>
<!-- cuerpo de la noticias -->
<div class="row detalle-noticia">
{% if nota.foto %}
    {% thumbnail nota.foto "300x200" crop="10%" as img %}
        <img class="th" src="/media/{{img}}">
    {% endthumbnail %} 
{% endif %}
<p align="justify">{{nota.resumen|safe }}</p>
<p><i class="fa fa-tags"></i> <span>Palabras claves:</span> {{nota.tags}}</p>  
</div>

<!-- area de temas y descargas de ficheros adjuntos -->
<div class="row">
    <hr>
    <div class="medium-6 columns tmatica"> <span>Temáticas:</span> <div class="tematica">{%for tema in nota.tematica.all%}{{tema}}, <br> {%endfor%}</div></div>
    <div class="medium-6 columns">
        <div class="descargas right">
            {% if nota.archivo1 %}
                <i class="fa fa-download fa-2x"></i> <span><a href="{{nota.archivo1}}">Descargar adjunto1,</a></span> <br>
            {% endif %}
            {% if nota.archivo2 %}
                <span class="adjunto1"><a href="{{nota.archivo2}}">Descargar adjunto2,</a></span> <br>
            {% endif %}
            {% if nota.archivo3 %}
                <span class="adjunto1"><a href="{{nota.archivo3}}">Descargar adjunto3</a></span>
            {% endif %}
            
        </div> 
    </div>
    <hr>
</div>

<!-- area de noticias relacionadas -->
<div class="row relaciones">
    <h3> Tambien puede interesarle</h3>
    {% for relacion in noticias_relacionadas %}
        <div class="medium-4 columns">
        {% if relacion.foto %}
            <div class="interes_img">
            {% thumbnail relacion.foto "305x185" crop="10%" as img %}
                <img src="/media/{{img}}" alt="" />
            {%endthumbnail%}
        </div>
        {% else%}
            <div class="interes_img">
            <img src="http://placehold.it/305x185" alt="" />
        </div>
        {% endif %}
        
        <p>{{relacion.blog}}</p>
        <hr>
        <span>{{relacion.fecha|date:"m.d.y"}} / <a href="{% url 'detalle-blog' relacion.id relacion.uri %}">LEER MÁS >></a></span>
    </div>
    {% endfor %}
</div>
<div class="row">
    <hr>   
    <div id="disqus_thread"></div>
</div>
<hr>
{% include "footer.html" %}
{% endblock contenido %}