<!doctype html>
<html  class="no-js" lang="en">
<!-- {# {% load compressed %} #} -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SIMAS- Servicio de Información Mesoamericano sobre Agricultura Sostenible: Noticias</title>
    <meta name="title" content="SIMAS- Servicio de Información Mesoamericano sobre Agricultura Sostenible" />
    <meta name="description" content="Trabajamos por el respeto a la diversidad de la vida, el manejo transparente de nuestros recursos y relaciones internas y externas, la promoción de la equidad genérica y social y la re-valorización del conocimiento campesino e indígena como elementos fundamentales para la construcción de una nueva ciudadanía." />
    <meta name="keywords" content="desarrollo, humano, equidad de genero, conservación, gobernanza, recursos, naturales, soberanía, seguridad, alimentaria, empresas, rurales, servicios locales,  información, comunicación" />
    <meta name="author" content="SIMAS">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    <link rel="stylesheet" href="/static/css/shadowbox.css">
    <link href="/static/css/ihover.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/camera.css">
     <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/simas.css">
    <link rel="stylesheet" href="/static/css/style_media.css">
    <link rel="stylesheet" href="/static/css/jquery.sidr.dark.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
   

    <script src="/static/js/vendor/modernizr.js"></script>
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/shadowbox.js"></script>

      <script type="text/javascript">
      Shadowbox.init();
      </script>
     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3666012-1', 'simas.org.ni');
      ga('send', 'pageview');

    </script>

</head>
<body>
  <header role="main" class="top">
      <div class="row">
          <div class="logo large-2 medium-2 columns">
              <a href="/"><img height="60" width="60" src="/static/img/logosimas.png" alt="Simas" title="Simas"></a>
          </div>
          <nav class="large-8 medium-8 columns">
              <ul class="menu">
                <li><a class="menu1" href="/quienes-somos/">QUIÉNES SOMOS</a></li>
                <li><a class="menu4" href="/noticias/">NOTICIAS</a></li>
                 <li><a class="menu5" href="/blogs/">BLOGS</a></li>
                <li><a class="menu2" href="/publicaciones/">PUBLICACIONES</a></li>
                <li><a class="menu3" href="/portafolio/sistemas">PORTAFOLIO</a></li>
                <li><a class="menu6" href="/contactenos/">CONTÁCTENOS</a></li>
              </ul>
          </nav>

          
      </div>
  </header>


  <div id="mobile-header">
    <a id="simple-menu" href="#sidr"><i class="fa fa-bars fa-2x"><span>Menu</span></i></a>
  </div>

  <div id="sidr">
    <a href="/"><img src="/static/img/logosimas.png" width="67" height="67"/></a>
    <ul>
      <li><a href="/quienes-somos/">QUIÉNES SOMOS</a></li>
      <li><a href="/noticias/">NOTICIAS</a></li>
       <li><a href="/blogs/">BLOGS</a></li>
      <li><a href="/publicaciones/">PUBLICACIONES</a></li>
      <li><a href="/portafolio/sistemas">PORTAFOLIO</a></li>
      <li><a href="/contactenos/">CONTÁCTENOS</a></li>
    </ul>
  </div>
      
<div class="wrapper">
  {% block contenido %}{% endblock contenido %}
</div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_developer = 1; // this would set it to developer mode
        var disqus_shortname = 'simasni'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>

    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
    <script type='text/javascript' src='/static/js/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='/static/js/camera.js'></script>
    <script type='text/javascript' src="/static/js/jquery.sidr.js"></script>
    <script type='text/javascript' src="/static/js/core.js"></script>
    <script src="/static/js/wow.min.js"></script>
    <script type='text/javascript'>
      $(document).foundation();

      try{document.getElementsByName('googleSearchFrame')[0].height=1058;}catch(e){}
      $(document).ready(function() {
          $('#simple-menu').sidr();

        });


    </script>

    <script>
      new WOW().init();
    </script>

    {% block extra_js %}{% endblock extra_js %}

</body>
</html>