{% extends "base.html" %}

{% load thumbnail %}
{% load url from future %}
{% load staticfiles %}

{% block extra_js %}
<link rel="stylesheet" href="{% static 'css/alertify.core.css' %}" />
<link rel="stylesheet" href="{% static 'css/alertify.default.css' %}" />
<script src="{% static 'js/alertify.js' %}"></script>
<script type="text/javascript">
	$('.menu a.menu6').addClass('activate');
	$(document).ready(function($) {


    $('#pony_form').on("submit", function(e){
        e.preventDefault();
        $.post("{% url 'contacto_ajax' %}", $("#pony_form").serialize(),
          function(data) {
            //data = eval('('+data+')');
            if ("exito" == data){
                  $('#pony_form')[0].reset();

                  $.getJSON('/captcha/refresh/', {}, function(json) {
                  $('.captcha').attr('src', json.image_url);
                  $('#id_captcha_0').val(json.key);
                  $('#id_captcha_1').val('');
                  });

                   alertify.success("Se ha enviado con exito su mensaje gracias.");
                }else{
                    alertify.error("Ocurrieron error lo lamentamos vuelva a intentar o refresque la pagina");
                }
      });
  });

    $('.js-captcha-refresh').click(function(){
    $form = $(this).parents('form');

    $.getJSON($(this).data('url'), {}, function(json) {
        // This your should update captcha image src and captcha hidden input
    });return false;
});
 
 });
	
</script>
	
{% endblock extra_js %}

{% block contenido %}

<style type="text/css">
	.google-maps {
        position: relative;
        padding-bottom: 87%;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

</style>
<div class="quienesfondo">
  <img src="/media/{{foto_contacto.foto}}" alt="">
  <div class="row"><h1 class="text-center texto wow bounceInRight" data-wow-duration="2s">{{foto_contacto.titulo}}</h1></div>
</div>
<br><br>
<div class="row informacion">
  	<h2 class="text-center">Información de contacto institucional</h2>
    <p class="text-center">{{ contacto.texto|safe }}</p>   
</div>
<br>
<div id="FondoU">
{% for a in ubicacion_trabajador %}
	<div class="row todoContacto">
	  	<h2>{{a.ubicacion}}</h2>
	  	<hr>
	  	<ul class="small-12 columns medium-block-grid-3 large-block-grid-4">
	  	{% for b in personal %}
		  	{% if b.ubicacion.id == a.id %}
			  	<li>
				  	<!-- normal -->
			    	<div class="ih-item circle effect3 bottom_to_top"><a href="#">
			    	{% if b.foto %}
			    		{% thumbnail b.foto "300x300" crop="10%" as img %}
			    			<div class="img"><img src="/media/{{img}}" alt="img"></div>
			    		{% endthumbnail%}
			    	{% else %}
			    		<div class="img"><img src="/static/img/8.jpg" alt="img"></div>
			    	{% endif %}
				        
				        <div class="info">
				          <h3>{{b.nombres}}</h3>
				          <p>{{b.cargo}} / {{b.correo}}</p>
				        </div></a>
			    	</div>
			    	<!-- end normal -->
				 </li>
			{% endif %}
		{% endfor %}
		</ul>
    
	</div>
{% endfor %}
</div>

<div class="row contactos">
  	<h2 class="text-center">CONTACTENOS</h2>
  	<hr>
  	<div class="medium-6 large-6 columns">
  		<form id="pony_form" method="POST" class='form-horizontal' >{% csrf_token %}
      {% for field in form_contact %}
        <div class='control-group{% if field.errors %} error{% endif %}'>
            <label class='control-label' for='{{ field.auto_id }}'>{{ field.label }}</label>
            <div class='control'>
            {{ field }}
            {% for error in field.errors %}
            <span class='help-inline'>{{ error }}</span>
            {% endfor %}
            </div>
        </div> 
      {% endfor %}
    <div class='form-actions'>
        <input type="submit" class="tiny submit button" value="Enviar" />
    </div>
    </form>
  	</div>
  	<div class="medium-6 large-6 columns">
  		<div class="google-maps">
  			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3900.5446344594784!2d-86.2861944!3d12.143278!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f71567744e12775%3A0xf45add63e22dd040!2sSIMAS!5e0!3m2!1ses-419!2s!4v1405466350955" width="600" height="450" frameborder="0" style="border:0"></iframe>
  		</div>
  	</div>

     
</div>

<hr>
{% include "footer.html" %}

{% endblock contenido %}