<!-- pie de los eventos videos audios fb -->
<footer role="main" id="footer">
    <div class="widgets section">
        <div class="row">
            <div class="large-3 medium-3 columns">
                <h4>Eventos</h4>
                {% for evento in latest_events%}
                <article class="event">
                    <div class="fecha">
                        <span class="day">{{evento.fecha|date:"d"}}</span>
                        <span class="month">{{evento.fecha|date:"M"}}</span>
                        <span class="year">{{evento.fecha|date:"Y"}}</span>
                    </div>
                    <div class="event-data">
                        <a href="" data-reveal-id="myModal-{{evento.id}}"><h5>{{evento.evento}}</h5></a>
                        <p>Lugar: {{evento.lugar}}</p>
                    </div>
                    <a href="" data-reveal-id="myModal-{{evento.id}}" class="more">Ver más</a>
                </article>
                {% endfor %}
            </div>


            <!-- ******************************Modal begin************************************************* -->
            
            
            {% for evento in latest_events%}
            <div id="myModal-{{evento.id}}" class="reveal-modal" data-reveal>
              <h2 align="center">{{evento.evento}}</h2> <br>
              <div class="large-6 medium-6 columns">
                  <p><strong>Fecha: <span class="day">{{evento.fecha|date:"d"}}</span>
                    <span class="month">{{evento.fecha|date:"M"}}</span>
                    <span class="year">{{evento.fecha|date:"Y"}}</span>
                </strong></p>
                <p><strong>Organiza: {{evento.organiza}}</strong></p>

                <p><strong>Lugar: {{evento.lugar}}</strong></p>
                <p>{{evento.objetivo|safe}}</p>
            </div>

            <div class="large-6 medium-6 columns">
            {% if evento.logotipo %}
                <img class="th" src="/media/{{evento.logotipo}}" alt="">
            {% else %}
                <img class="th" src="http://placehold.it/450x250&text=No image" alt="">
            {% endif %}
                
            </div>  


            <a class="close-reveal-modal">&#215;</a>
        </div>

        {% endfor %} 

        <!-- ******************************Modal end************************************************* -->
        <div class="large-3 medium-3 columns video">
            <h4>Videos</h4>
            <iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/?listType=user_uploads&list=simasNicaragua" frameborder="0" allowfullscreen></iframe>
            
        </div>
        <div class="large-3 medium-3 columns">
            <h4>Audios</h4>
            <iframe width="100%" height="240" src="http://www.mixcloud.com/widget/iframe/?feed=http%3A%2F%2Fwww.mixcloud.com%2Fsimasnicaragua%2F&amp;embed_uuid=476c24ab-9895-4286-91b7-b338374b6cb6&amp;replace=0&amp;hide_cover=1&amp;light=1&amp;embed_type=widget_standard" frameborder="0"></iframe><div style="clear: both; height: 3px; width: auto;"></div><p style="display: block; font-size: 11px; font-family: 'Open Sans', Helvetica, Arial, sans-serif; margin: 0px; padding: 3px 4px; color: rgb(153, 153, 153); width: auto;"><a href="http://www.mixcloud.com/simasnicaragua/?utm_source=widget&amp;amp;utm_medium=web&amp;amp;utm_campaign=base_links&amp;amp;utm_term=resource_link" target="_blank" style="color:#808080; font-weight:bold;">Cloudcasts by simasnicaragua</a><span> on </span><a href="http://www.mixcloud.com/?utm_source=widget&amp;utm_medium=web&amp;utm_campaign=base_links&amp;utm_term=homepage_link" target="_blank" style="color:#808080; font-weight:bold;"> Mixcloud</a></p><div style="clear: both; height: 3px; width: auto;"></div>
        </div>
        <div class="large-3 medium-3 columns">
          
            <h4>Social Media</h4>

            <!-- <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fsimas.org.ni&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=288648641330494" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px; width:16em;" allowTransparency="true"></iframe>  -->

            <div class="sidebar widget-area-12">

                <div class="widget widget_vw_widget_social_counter">
                    <div class="vw-social-counter vw-social-counter-twitter">
                        <a class="vw-social-counter-icon" href="http://www.twitter.com/simasnicaragua" title="Follow our twitter" target="_blank">
                            <i class="icon-social-twitter fa fa-twitter"></i>
                        </a>
                        <div class="vw-social-counter-counter">
                            <div class="vw-social-counter-count tws"></div>
                            <div class="vw-social-counter-unit">Seguidores</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="vw-social-counter vw-social-counter-facebook">
                        <a class="vw-social-counter-icon" href="https://www.facebook.com/simas.org.ni" title="Like our facebook" target="_blank">
                            <i class="icon-social-facebook fa fa-facebook"></i>
                        </a>
                        <div class="vw-social-counter-counter">
                            <div class="vw-social-counter-count fbs"></div>
                            <div class="vw-social-counter-unit">Fans</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="vw-social-counter vw-social-counter-youtube">
                        <a class="vw-social-counter-icon" href="https://www.youtube.com/user/simasnicaragua" title="Subscribe our youtube" target="_blank">
                            <i class="icon-social-youtube fa fa-youtube-play"></i>
                        </a>
                        <div class="vw-social-counter-counter">
                            <div class="vw-social-counter-count yous"></div>
                            <div class="vw-social-counter-unit">Suscriptores</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="vw-social-counter vw-social-counter-googleplus">
                        <a class="vw-social-counter-icon" href="https://plus.google.com/u/0/117302920867222236108/posts" title="+1 our page" target="_blank">
                            <i class="icon-social-gplus fa fa-google-plus"></i>
                        </a>
                        <div class="vw-social-counter-counter">
                            <div class="vw-social-counter-count gs"></div>
                            <div class="vw-social-counter-unit">Personas</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div> 

            </div> 
            

        </div>
    </div>
</div>
<!-- /.widgets -->
<div class="financiado">
    <div class="row">
        <div class="large-3 medium-3 columns"><h6 style="color:white;font-style: oblique">Con el apoyo financiero y técnico de</h6></div>
        <div class="large-9 medium-9 columns" id="foot">
            <ul>
                <li><a href="http://www.trocaire.org/" target="_blank"><img src="/static/img/logo-trocaire.png" alt="TROCAIRE"></a></li>
                <li><a href="http://www.interteam.ch/" target="_blank"><img src="/static/img/logo-interteam.png" alt="INTERTEAM"></a></li>
                <li><a href="http://www.brot-fuer-die-welt.de/home.html" target="_blank"><img src="/static/img/logo-brot.png" alt="BROT-FUER.DIE-WELT"></a></li>
                <!-- <li><a href="http://www.brot-fuer-die-welt.de/home.html" target="_blank"><img src="/static/img/logo-eed.png" alt="EED"></a></li> -->
            </ul>
        </div>
    </div>
</div>


<!-- /.financiado -->
<div class="footer-simas">
    <div class="row">
        <div class="large-5 medium-5 columns">
            <p class="who">Servicio de Información Mesoamericano sobre Agricultura Sostenible - SIMAS <span>Lugo Rent a Car 1c al lago, esquina sur oeste parque El Carmen. Reparto El Carmen, Managua, Nicaragua<br>PBX y Fax: (+505) 22682302<br>Apartado postal A-136</span></p>
        </div>
        <div class="large-4 medium-4 columns softlibre text-center" >
            <p class="open">SIMAS usa OpenSourse</p>
            <a class="text-center" href="https://getfedora.org/" target="_blank">
                <img  src="/static/img/fedoralogo.png" alt="">
            </a>
        </div>
        <div class="large-3 medium-3 columns" id="footersocial">
            <ul class="footer-socials">
                <li class="youtube"><a href="https://www.youtube.com/user/simasnicaragua" target="_blank">Youtube</a></li>
                <li class="twitter"><a href="https://twitter.com/simasnicaragua" target="_blank">Twitter</a></li>
                <li class="facebook"><a href="https://www.facebook.com/simas.org.ni" target="_blank">Facebook</a></li>
                <li class="google"><a href="https://plus.google.com/u/0/117302920867222236108/posts" target="_blank">Google+</a></li>
            </ul>
            <p class="copy right">&copy; 2015   . SIMAS, Managua, Nicaragua.<br>Todos los derechos reservados.</p>
        </div>
    </div>
</div>

<script>

//     $(document).ready(function(){
        
//         $.getJSON("https://graph.facebook.com/simas.org.ni?callback=?", function(data) { 
//         //alert("fans: " + data.likes); 
//         $(".fbs").text(data.likes);
//     });

//         $.getJSON("https://www.googleapis.com/plus/v1/people/114100385731830799998?fields=circledByCount&key=AIzaSyB-1HsCjiAEEAJlGeWP4l3knzZO4Dxa2Pk", function(data) {  
//             $(".gs").text(data.circledByCount);
//         });

//         $.getJSON('https://gdata.youtube.com/feeds/api/users/simasNicaragua?alt=json',function(data){
//     //alert(data.entry.yt$statistics.subscriberCount);
//     $(".yous").text(data.entry.yt$statistics.subscriberCount);
//         });



// var apikey='718e2bb82a58dc4e0af704b35d9293d5';
//      var twitterid='82125502';
// $.when(

//     $.ajax({
//         type: "GET",
//         dataType: "jsonp",
//         url: "http://api.twittercounter.com/?twitter_id="+twitterid+"&apikey="+apikey+"&output=JSONP&callback=getcount",
//         success: function (data) {
//             var twitterfollowcount = data.followers_current;
//             $(".tws").text(twitterfollowcount);
//         }
//     }),$.ajax({
//         type: "GET",
//         dataType: "json",
//         url: "http://graph.facebook.com/simas.org.ni",
//         success: function (data) {
//             var facebookfollowcount = data.likes;
//             $(".fbs").html(facebookfollowcount);
//         }
//     })  
//     ).done(function (twitter,facebook) {
//         var total = twitter[0].followers_current;
//         //alert(total);
//         $('.tws').text(total);
//     });

//    });


</script>
</footer>

