{% extends "base.html" %}

{% block extra_js %}
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css_timeline/demo1.css" /> 
<link rel="stylesheet" type="text/css" href="/static/css_timeline/demo.css" /> 
<link rel="stylesheet" type="text/css" href="/static/css_timeline/timeline.css" /> 
<script src="/static/js/main.js"></script> 

<script type="text/javascript" src="/static/js/timeline.min.js"></script>

    
{% endblock extra_js %}

{% block contenido %}

<div class="quienesfondo">
    <img src="/static/img/imgPortafolio.jpg" alt="">
     <div class="row"><h1 class="text-center texto wow bounceInRight" data-wow-duration="2s">HISTORIA</h1></div>
</div>

<div id="main"> 
            <div id="timeline"></div> 
            <script type="text/javascript"> 
                (function() { 
                    var timeout_id = null; 
 
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 
                    ga.src = 'javascript/scriptgates.js'; 
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); 
                    ga.onload = function() { 
                        clearTimeout(timeout_id); 
 
                        ga.parentNode.removeChild(ga); 
                        changeDemo(1); 
                    }; 
 
                    var iefix = function() { 
                        clearTimeout(timeout_id); 
                        if (typeof Timeline != 'undefined') { 
                            changeDemo(1); 
                        } else { 
                            timeout_id = setTimeout(iefix, 2000); 
                        } 
                    } 
 
                    timeout_id = setTimeout(iefix, 2000); 
                })(); 
            </script> 
</div>
<hr>

<script>
    


function changeDemo(type, is_mobile) {
    $('#timeline').remove();
    var wrapper = $('<div>').attr('id', 'timeline').appendTo('#main');

    if (is_mobile) {
        wrapper.addClass('mobile');
    }

    var timeline_data = [];
    var options       = {};

    $('#timeline').addClass('demo' + type);

    switch (type) {
        case 1:
            timeline_data = [
            {% for historia in historias %}
                {
                    type:     'blog_post',
                        date:     '{{historia.fecha|date:"Y/m/d"}}',
                    title:    '{{historia.titulo}}',
                    content:  '{{historia.descripcion}}',
                    {% if historia.foto %}
                    images:   ['/media/{{historia.foto}}'],
                    {% endif %}
                    
                },
            {% endfor %}
                // {
                //     type:     'gallery',
                //     date:     '2014-04-12',
                //     title:    'Mini Gallery',
                //     height:   180,
                //     images:   ['images/moto-1.jpg', 'images/moto-2.jpg', 'images/moto-3.jpg', 'images/moto-4.jpg']
                // },
                // {
                //     type:     'blog_post',
                //     date:     '2014-08-03',
                //     title:    'Moto G review: still the best budget smartphone',
                //     content:  'Last year\'s Moto G took us all by surprise. Sure, we knew Motorola wanted to reinvent the cheap smartphone experience, but the very first device in the company\'s cost crusade was even better than we expected. Let\'s be honest, though: The G\'s greatest asset was its small, small price tag. For $180 off-contract, it became awfully easy to forgive the thing for not being the quickest, the prettiest or the smartest. Still, it was one of those gadgets that wound up being more than just "good enough"; between the price and performance, the Moto G was one of the best cheap smartphones you could own, period.',
                //     images:   ['images/moto-g.jpg'],
                    
                // },
                // {
                //     type:     'blog_post',
                //     date:     '2013-12-16',
                //     height:   150,
                //     images:   ['images/ios8-1.jpg', 'images/ios8-2.jpg', 'images/ios8-3.jpg'],
                //     speed:    null
                // },
                // {
                //     type:     'gallery',
                //     date:     '2013-04-12',
                //     title:    'iPhone 6 Plus',
                //     height:   150,
                //     images:   ['images/iphone6_1.jpg', 'images/iphone6_2.jpg', 'images/iphone6_3.jpg', 'images/iphone6_4.jpg', 'images/iphone6_5.jpg', 'images/iphone6_6.jpg', 'images/iphone6_7.jpg', 'images/iphone6_8.jpg', ]
                // },
                // {
                //     type:     'blog_post',
                //     date:     '2013-08-03',
                //     title:    'iPhone6 Bigger than bigger',
                //     content:  'iPhone 6 isn\'t simply bigger - it\'s better in every way. Larger, yet dramatically thinner. More powerful, but remarkably power-efficient. With a smooth metal surface that seamlessly meets the new Retina HD display. It\'s one continuous form where hardware and software function in perfect unison, creating a new generation of iPhone that\'s better by any measure.',
                //     images:   ['images/iphone6.jpg'],
                //     readmore: 'https://www.apple.com/au/iphone-6/'
                // }
            ];
            options       = {
                animation:   true,
                lightbox:    true,
                separator:   'year',
                columnMode:  'dual',
                responsive_width: 700,
                first_separator: true,
                order:       'asc',
            };
            
    }

    var timeline = new Timeline($('#timeline'), timeline_data);
    timeline.setOptions(options);
    timeline.display();
}

var init_loadmore = function() {
    var timeline = new Timeline($('#timeline'), getTimelineData([2013]));
    timeline.setOptions({
        animation:   true,
        lightbox:    true,
        columnMode:  'dual',
        order:       'desc',
        separator:   'year',
        first_separator: true,
        responsive_width: 700
    });
    timeline.display();

    $(document).ready(function() {
        // menu click
        $(document).on('click', '#menu > div', function(e) {
            var year      = $(this).text();
            var scroll_to = '#timeline_date_separator_' + year;

            $.scrollTo(scroll_to, 500);
        });

        // load more click
        var year = 2013;
        $('#loadmore').on('click', function(e) {
            var button = $(this);

            if (button.hasClass('loading')) {
                return;
            }

            year--;
            button.addClass('loading').text('Loading...');
            setTimeout(function() {
                var scroll_to = '#timeline_date_separator_' + year;

                button.removeClass('loading').text('Load More');
                $('<div>').text(year).appendTo($('#menu'));

                var new_data = getTimelineData([year]);
                timeline.appendData(new_data);
                $.scrollTo(scroll_to, 500);
            }, 1000);
        });

        setTimeout(function() {
            $('#loadmore').show();
        }, 2000);
    });
};
</script>
{% include "footer.html" %}

{% endblock contenido %}



